* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #6e023c; 
  
}
h2, h5 {
  color: #fff;
  text-align: center;
  margin-top: 12px;
}
h5 {
  margin-top: 0;
}
.container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
.memory-game {
  max-width: 900px;
  width: 100%;
  height: 92%;
  background-color: rgba(25, 14, 85, 0.479);
  background: linear-gradient(#52cd99,#e52522);
 overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;;
  justify-content: space-evenly;
  margin: auto;
  border: 2px solid #eee;
  perspective: 1500px;
}
.memory-card {
  background-color: #00f;
  background-size: cover;
  box-shadow: 2px 2px 2px #222;
  /* width:110px;
  height: 122px; */
  width: 18.5%;
  height: 23%;
  position: relative;  
  border-radius: 10px;
  margin: 3px;
  transform: scale(0.97);
  transform-style: preserve-3d;
  transition: transform 0.3s;
}
.memory-card:hover {
  transform: scale(1);
  transition: transform 0.2s;
}
.memory-card.flip {
  transform: rotateY(180deg);
}
.front-img,
.back-img {
  width: 100%;
  height: 100%;
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 10px;
  position: absolute;
  backface-visibility: hidden;
}
.front-img {
  background-color: #ddd;
  border: 3px solid #222;
  transform: rotateY(180deg);
}

#btn {
  width: 100%;
  height: 180px;
  font-size: 19px;
  color: rgb(248, 241, 241);
  position: absolute;
  border-radius: 10px;
  padding: 10px;
  text-shadow: 2px 2px rgb(17, 15, 15);
  top: 30%;
  left: 0;
  z-index: 10;
  background-color: rgba(67, 4, 240, 0.7);
}
span {
  font-size: 22px;
}
#btn.moveout {
  display: none;
}

#slidebar {
  position: absolute;
  top: 20vh;
  left: -50%;
  color: #fff;
  text-align: center;
  background-color: rgba(110, 165, 9, .7);
  text-shadow: 2px 2px rgb(17, 15, 15);
  border: 1px solid #222;
  border-radius: 10px;
  width: 0%;
  height: 80%;
  transition: width .85s;
  /* display: none; */
}
#slidebar.slide {
  /* display: block; */
  width: 100%;
  left: 0;
  z-index: 1;
}
.cooked-chicken {
  
  width: 150px;
  height: 150px;
  margin: 20px;
}


@media screen and (max-width: 600px) {
  .memory-card {
    width: 22%;
    height: 18%;
  }
}

